# Zsh files
zsh/.zcompdump
zsh/.zsh_history
zsh/.zlogin
zsh/.zlogout
zsh/plugins/*

# Other plugins
tools/fzf/*

# Ignore fontforge package
fontforge

# Ignore installed plugins managed by vim-plug
vim/plugged/*

# Ignore other vim file
vim/[Ss]essions/*
vim/swap/*
vim/backup/*
vim/views/*
vim/undo/*
vim/.viminfo*
vim/spell/*.add*
vim/.netrwhist

nvim/swap/*
nvim/backup/*
nvim/undo/*
nvim/shada
nvim/spell/*.add*
local/*

# COC.nvim config
coc/*
vim/node_modules

# Cache files
cache/*
